<ion-navbar>
	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title>
		<ion-grid *ngIf="searchbarState=='invisible'">
			<ion-row>
				<ion-col style="font-size:18px;left:-16px;">{{ title }}</ion-col>
				<ion-col><img center src="/assets/imgs/logo3.jpg" alt="test" /></ion-col>
				<ion-col>
					<ion-buttons end>
						<button ion-button icon-only (click)="searchbarOpen()">
							<ion-icon name="search"></ion-icon>
						</button>
					</ion-buttons>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-searchbar [@searchState]="searchbarState" *ngIf="searchbarState=='visible'" placeholder="Search posts" (ionInput)="getSearch($event)" [showCancelButton]="true" (ionClear)="searchbarClose()"></ion-searchbar>
	</ion-title>
	<ion-grid style="color: #fff;">
		<ion-scroll scrollX="true" style="height: 42px;width: 100%; position: absolute;top: 47px;">
			<ion-row nowrap>	
				<div>
					<div style="font-size:15px;">Home</div>
				</div>
				<div *ngFor="let category of categories" style="padding-left:15px">
					<div (click)="openCatPage(category)" *ngIf= "category.name!='Uncategorised'" style="font-size: 15px;">{{ category.name}}</div>
				</div>
			</ion-row>
		</ion-scroll>
	</ion-grid>
</ion-navbar>
