.searchbar-md .searchbar-input{
    border-bottom: 1px solid white;
    padding-left:0px;
}
.searchbar-search-icon{
    float:right;
}
.searchbar-search-icon,.searchbar-md-cancel.button-clear{
	display:none!important;
}
.toolbar-title-md{
	height: 70px;
}
ion-menu[side=left] > .menu-inner .toolbar-title-md{
	height: auto;
	text-align: center;
}
.searchbar-show-cancel .searchbar-clear-icon.button-clear{
	display:block!important;
}
