<ion-navbar>
	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title>
		<ion-grid *ngIf="!isSearchbarOpened">
			<ion-row>
				<ion-col>{{ title }}</ion-col>
				<ion-col><img center src="/assets/imgs/logo3.jpg" alt="test" /></ion-col>
				<ion-col>
					<ion-buttons end>
						<button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
							<ion-icon name="search"></ion-icon>
						</button>
					</ion-buttons>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-searchbar *ngIf="isSearchbarOpened" placeholder="Search posts" (ionInput)="getSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
	</ion-title>
	<ion-grid style="color: #fff;">
		<ion-scroll scrollX="true" style="height: 40px;width: 100%;">
			<ion-row nowrap>	
				<div>
					<div style="font-size: 25px;">Home</div>
				</div>
				<div *ngFor="let category of categories" style="padding-left:6px">
					<div (click)="openCatPage(category)" *ngIf= "category.name!='Uncategorised'" style="font-size: 25px;">{{ category.name}}</div>
				</div>
			</ion-row>
		</ion-scroll>
	</ion-grid>
</ion-navbar>
